{% extends 'root.html' %}

{% block content_body %}
<style>
    .content-centerss {
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>
<main class="content-centerss" style="height:calc(100vh - 60px)">
    <div>
        <h2 class="animate__animated animate__fadeIn animate__delay-1s" style="text-align:center;">
            <span>
                <b>OOPS</b> Anda kelihatanya tersesat...
            </span>
        </h2>
    </div>
</main>
{% endblock %}