{% block content_body %}
<style>
    .content-centerss {
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>
<main class="content-centerss" style="height:calc(100vh - 60px)">
    <div>
        <h2 class="animate__animated animate__fadeIn animate__delay-1s bg-deep" style="border-radius:10px;padding:10px;text-align:center;">
            <span>
                <b>Story Berhasil dihapus</b>
            </span>
        </h2>
    </div>
</main>
{% endblock %}